.about {
  position: relative;
  z-index: 5;
  margin-top: -20px;
  padding: 20px 50px 82px;
  background-color: @basic_blue_dark;
  background-image: url("../img/about-mobile.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  border-radius: 0 0 20px 20px;

  @media (min-width: @tablet-width) {
    padding: 45px 0 89px 74px;
    background-color: @special_blue;
    background-image: url("../img/about_tablet.png"), url("../img/about_tablet_rectangle.svg");
    background-position: right bottom 89px, top;
    background-repeat: no-repeat;
    background-size: 384px, 688px;
    border-radius: 0 0 40px 40px;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 40px;
}

.about__text {
  width: 220px;
  font-weight: 300;
  color: @basic_white;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin: 0;
    margin-bottom: 31px;
  }

  @media (min-width: @desktop-width) {
    width: 620px;
  }
}

.about__appeal {
  width: 220px;
  font-weight: 700;
  color: @basic_white;

  @media (min-width: @tablet-width) {
    width: 276px;
    margin-bottom: 48px;
    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 425px;
  }
}

.direction__image {
  width: 100%;
}

.about__to-all {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: min-content;
    margin: 0;
    padding: 29px 157px 27px 33px;
  }
}
