.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 25px;
  background-color: @basic_blue_dark;

  @media (min-width: @tablet-width) {
    background-color: @special_blue;
  }
}

.nav-toggle {
  position: relative;
  width: 25px;
  height: 11px;
  background-color: @basic_blue_dark;
  border: none;
  outline: none;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.nav-toggle::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 25px;
  height: 3px;
  background-color: @basic_white;
  border-radius: 2px;
}

.nav-toggle::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 25px;
  height: 3px;
  background-color: @basic_white;
  border-radius: 2px;
}

.main-nav__wrapper .user-nav__list {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    padding: 0;
  }
}

.user-list__item .user-list__link--tel,
.user-list__item .user-list__link--email {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.main-nav__popup {
  position: absolute;
  top: 60px;
  z-index: 10;
  width: 320px;
  padding-top: 58px;
  padding-bottom: 41px;
  display: none;
  background-color: @basic_white;

  @media (min-width: @desktop-width) {
    // display: block;
  }
}

.main-nav__list {
  padding: 0 25px;
  text-transform: uppercase;
  text-align: center;
}

.site-list {
  padding-bottom: 51px;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  color: @basic_blue;
}

.user-list {
  margin-bottom: 41px;
  padding: 0 25px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.user-list__login {
  margin-bottom: 51px;
}

// .user-list__item::before {
//   content: "";
//   position: relative;
//   width: 45px;
//   height: 45px;
//   background-color: @special_blue_dark;
// }

.contacts__link--mail::before {
  vertical-align: middle;
  background-image: url("../img/icon_mail-foo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  // margin-bottom: 41px;
}

.main-nav__popup .social-list__popup {
  background-color: @basic_white;
}

.social-list__popup--facebook {
  background-image: url("../img/icon_facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-list__popup--vk {
  background-image: url("../img/icon_vkontakte.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-list__popup--instagram {
  background-image: url("../img/icon_instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}
