.tariff {
  position: relative;
  z-index: 3;
  margin-top: -20px;
  padding: 57px 25px 38px 50px;
  background-color: @basic_blue_light;
  border-radius: 0 0 20px 20px;

  @media (min-width: @tablet-width) {
    margin-top: -40px;
    padding: 0;
    padding-bottom: 85px;
    border-radius: 0 0 40px 40px;
  }
}

.tariff__wrapper {
  @media (min-width: @tablet-width) {
    margin: 0 40px;
  }
}

.tariff__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 34px;
  width: min-content;

  @media (min-width: @tablet-width) {
    display: block;
    margin-bottom: 73px;
    padding-top: 135px;
    width: 100%;
    text-align: center;
  }
}

.tariff__title::after {
  position: absolute;
  top: 37px;
  right: 25px;
  display: inline-block;
  content: "";
  width: 100px;
  height: 100px;
  background-image: url("../img/rates.svg");

  @media (min-width: @tablet-width) {
    top: 475px;
    right: 85px;
  }
}

.tariff__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
  }
}

.tariff__item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 90px 1fr 198px;
    grid-template-areas: "n t p";
    margin-bottom: 0;
  }
}

.tariff__text {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    grid-area: t;
    width: max-content;
  }
}

.tariff__number {
  display: grid;
  justify-self: end;
  align-items: center;
  width: 34px;
  height: 34px;
  line-height: 16px;
  text-align: center;
  background-color: @special_orange;
  border-radius: 50%;
  color: @basic_white;

  @media (min-width: @tablet-width) {
    grid-area: n;
    justify-self: start;
    width: 68px;
    height: 68px;
  }
}

.tariff__number--two {
  background-color: @special_yellow_dark;
}

.tariff__number--three {
  background-color: @basic_yellow;
}

.tariff__price {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    grid-area: p;
    justify-self: center;
  }
}

.tariff__price::after {
  @media (min-width: @tablet-width) {
    content: "";
    z-index: -1;
    top: 220px;
    right: 40px;
    position: absolute;
    width: 198px;
    height: 285px;
    background-color: @basic_gray;
    border-radius: 20px;
  }
}

.tariff__link {
  line-height: 16px;

  @media (min-width: @tablet-width) {
    margin-left: 89px;
    font-size: 20px;
    line-height: 20px;
  }
}

.tariff__link::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    bottom: 65px;
    margin-left: -89px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: @basic_gray;
    background-image: url("../img/icon_businessman.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.tariff-popup {
  display: none;
  z-index: 3;
  position: absolute;
  margin: 0 25px;
  padding-top: 34px;
  min-width: 270px;
  background-color: @basic_white;
  border-radius: 20px;
}

.tariff-popup__title {
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
}

.tariff-business {
  margin: 0;
  padding: 0 25px;
  list-style: none;
}

.tariff-business__item {
  padding: 11px 0;
  border-top: 1px solid @basic_blue_light;
}

.tariff-business__item:last-child {
  margin-bottom: 34px;
}

.tariff-business__text,
.tariff-business__price {
  margin: 0;
  padding: 0;
}

.tariff-popup__close {
  display: block;
  padding: 21px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: @special_grey_light;
  border: none;
  border-radius: 0 0 20px 20px;
}
